@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.login-div {
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    background: #e8e8e8;
    width: 95%;
    max-width: 400px;
    border-radius: 12px;

    input {
        padding: 5px;
        margin: 10px;
        border-radius: 4px;
        border: none;

        &:focus {
            outline: none;
            border: 2px solid rgba(25, 174, 255, 40%);
        }
    }

    label.input-label {
        display: block;
        margin-top: 20px;
    }

    button {
        cursor: pointer;
        padding: 5px 35px;
        margin: 10px auto;
        display: block;
        border: none;
        border-radius: 5px;
        background-color: rgb(25, 87, 255);
        color: white;
        font-size: 14pt;
    }
}